{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Travel archive</title>
    <meta name="Author" content="dominik szmek" />
    <meta name="Copyright" content="MIT" />
    <meta name="Language" content="pl" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" type="text/css" /> 
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}" type="text/css" /> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" /> 
    {% endblock %}

  </head>
  <body>

    <div class="container">

      <!-- navbar -->
      
      <div class="row navbar">
        <div class="twelve columns">
          <ul>
            {% if user.is_authenticated %}
            <li>
              <strong>{{ user.username }}</strong>
              <a href="{% url 'travels:logout' %}" title="wyloguj się">
                <img class="ico" alt="logout" src="{% static 'account-logout.svg' %}"/>
              </a>
            </li>
            {% endif %}
	    <li><a href="{% url 'admin:index' %}" target="_blank">Admin</a></li>
	    <li><a href="{% url 'travels:flight-index' %}">Flights</a></li>
	    <li><a href="{% url 'travels:index' %}">Travels</a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="twelve columns">
          
    	  {% block body %}{% endblock %}
          
        </div>
      </div>
 
    </div>    <!-- end container -->

    {% block footer %}{% endblock %}

    <div style="top-margin:50px;">&nbsp;</div>
  </body>
</html>
