{% extends 'base.html' %}
{% load static %}
{% block body %}

<h1>Flight list</h1>

<div class="row">
  <div class="six columns">
    <form action="{% url 'travels:flight-index' %}" method="get">

      {% csrf_token %}
      
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}

      {% for field in form.visible_fields %}
      
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}

      {% endfor %}
    
      <input name="" type="submit" value="search"/>
    </form>
  </div>
</div>

{% if count %}<hr/><h3>Number of flights: {{ count }}, Total distance: {{ total_distance.distance__sum }} km</h3>{% endif %}

{% if flight_list %}
<table class="table table-striped flights">

  <tr class="warning">
    <th>date</th>
    <th>from</th>
    <th>to</th>
    <th>flight # / airline</th>
    <th>distance</th>
    <th>duration</th>
    <th>plane</th>
    <th></th>
  </tr>
  {% for flight in flight_list %}

  {% ifchanged %}
  <tr>
    <td colspan="9"><h4>{{ flight.date|date:"Y" }}</h4></td>
  </tr>
  {% endifchanged %}

  <tr>
    <td>
      {{ flight.date|date:"Y-m-d" }}
      <br/>
      <span class="grey">{{ flight.time|default_if_none:'&nbsp;' }}</span>
    </td>
    <td title="{{ flight.orig.name }}">
      <strong>{{ flight.orig.iata }}</strong>
      <br/>
      {{ flight.orig.city }}
    </td>
    <td title="{{ flight.dest.name }}">
      <strong>{{ flight.dest.iata }}</strong>
      <br/>
      {{ flight.dest.city }}
    </td>
    <td title="{{ flight.note }}">
      <strong>{{ flight.flight_number }}</strong>
      <br/>
      {{ flight.airline }}
    </td>
    <td>{{ flight.distance }} km</td>
    <td>{{ flight.duration|time:"H:i" }}</td>
    <td>{{ flight.plane|default_if_none:'' }}</td>
    <td>{% if flight.boarding_pass %} <span class="grey">&bull;</span> {% endif %}</td>
    <td>
      <span class="grey">{{ flight.travel_id }}</span>
      <br/>
      <a href="{% url 'travels:flight-detail' flight.pk %}"><img width="12px" alt="" src="{% static 'magnifying-glass.svg' %}"/></a>
    </td>
  </tr>
  {% endfor %}
</table>
{% include "travels/paginator.html" %}
{% endif %}
{% endblock %}

{% block footer %}
<!-- <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script> -->

<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>

{{ form.media }}

<style>
  label {
  font-size: 16px;
  font-weight: 600;
  color: #db5000;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #0091b5;
  }
  .select2-container .select2-selection--single {
  margin-bottom: 1.5rem;
  }
</style>

{% endblock %}
