{% extends 'base.html' %}
{% block body %}

{% if flight %}

<h1>Flight {{ flight.flight_number }}</h1>
<h4>{{ flight.airline }}</h4>

<table class="table table-striped">
  <tr>
    <th>date</th><td>{{ flight.date }} <span class="grey">({{ flight.date|timesince }})</span></td>
    <th>flight no.</th><td>{{ flight.flight_number }}</td>
  </tr>
  <tr>
    <th>from</th>
    <td>
      <strong>
        {{ flight.orig.iata }} /
        {{ flight.orig.icao }}
      </strong><br/>
      {{ flight.orig }}<br/>
      {{ flight.orig.country }}
    </td>
    <th>to</th>
    <td>
      <strong>
        {{ flight.dest.iata }} /
        {{ flight.dest.icao }}
      </strong><br/>
      {{ flight.dest }}<br/>
      {{ flight.orig.country }}
    </td>
  </tr>
  <tr>
    <th>timezone</th>
    <td>UTC {{ flight.orig.timezone }}</td>
    <th>timezone</th>
    <td>UTC {{ flight.dest.timezone }}</td>
    <td></td>
  </tr>
  <tr>
    <th>alt</th>
    <td>{{ flight.orig.alt_in_meters }} m / {{ flight.orig.alt }} ft</td>
    <th>alt</th>
    <td>{{ flight.dest.alt_in_meters }} m / {{ flight.dest.alt }} ft</td>
    <td></td>
  </tr>
  <tr>
    <th>distance</th><td>{{ flight.distance }} km</td>
    <th>duration</th><td>{{ flight.duration|time:"H:i" }} hrs</td>
  </tr>
  <tr>
    <th>airline</th><td>{{ flight.airline }}</td>
    <th>airplane</th><td>{{ flight.plane }}</td>
  </tr>
  <tr>
    <th>price</th><td>{{ flight.currency }} {{ flight.price|floatformat:0|default_if_none:'' }}</td>
    <th>purchased</th><td>
      {% if flight.purchased %}{{ flight.purchased }} <span class="grey">({{ flight.purchase_delta }} days before)</span>{% endif %}
    </td>
  </tr>
  <tr>
    <th>notes</th><td colspan="3">{{ flight.note|default_if_none:'' }}</td>
  </tr>
</table>

<a class="button button-primary" href="{% url 'travels:flight-update' object.pk %}">edit flight</a>
{% if flight.travel.pk != 0 %}
<a class="button" href="{% url 'travels:travel-detail' flight.travel.pk %}">goto travel</a>
{% endif %}

{% endif %}
{% endblock %}
