{% extends 'base.html' %}

{% load static %}

{% block body %}

<h1>Flight</h1>

<form action="" method="post" enctype="multipart/form-data">
  <div class="row">
    <div class="five columns">

      {% csrf_token %}
      
      {# Include the hidden fields #}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
      {# Include the visible fields #}
      {% for field in form.visible_fields %}
      
      {% if forloop.counter == 7 or forloop.counter == 12 %}

    </div>
    <div class="three columns">
    
      {% endif %}
      
      <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
      </div>

      {% endfor %}
    
    </div>
  </div>
  <hr>
  <input name="" type="submit" value="save"/>
</form>

{% endblock %}

{% block footer %}
<!-- <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script> -->

<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>

{{ form.media }}

<style>
  label {
  font-size: 16px;
  font-weight: 600;
  color: #db5000;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #0091b5;
  }
  .select2-container .select2-selection--single {
  margin-bottom: 1.5rem;
  }
  
</style>

{% endblock %}

