{% extends 'base.html' %}
{% load static %}
{% block body %}

<h1>Flight list</h1>

<form action="{% url 'travels:flight-index' %}" method="get">
  {{ form }}
  <input name="" type="submit" value="search"/>
</form>

{% if flight_list %}
<table class="table table-striped flights">

  <tr class="warning">
    <th>date</th>
    <th>from</th>
    <th>to</th>
    <th>flight # / airline</th>
    <th>distance</th>
    <th>duration</th>
    <th>plane</th>
    <th></th>
  </tr>
  {% for flight in flight_list %}

  {% ifchanged %}
  <tr>
    <td colspan="8"><h4>{{ flight.date|date:"Y" }}</h4></td>
  </tr>
  {% endifchanged %}

  <tr>
    <td>{{ flight.date|date:"Y-m-d H:i" }}</td>
    <td title="{{ flight.orig.name }}">
      <strong>{{ flight.orig.iata }}</strong><br/>{{ flight.orig.city }}</td>
    <td title="{{ flight.dest.name }}">
      <strong>{{ flight.dest.iata }}</strong><br/>{{ flight.dest.city }}</td>
    <td title="{{ flight.note }}"><strong>{{ flight.flight_number }}</strong>{{ flight.note_sign }}<br/>{{ flight.airline }}</td>
    <td>{{ flight.distance_in_km }} km</td>
    <td>{{ flight.duration }} hrs</td>
    <td>{{ flight.plane }}</td>
    <td><span class="grey">{{ flight.travel_id }}</span></br>
      <a href="{% url 'travels:flight-detail' flight.pk %}"><img width="12px" alt="" src="{% static 'magnifying-glass.svg' %}"/></a></td>
  </tr>
  {% endfor %}
</table>
{% include "travels/paginator.html" %}
{% endif %}
{% endblock %}
