{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
{% endblock %}

{% block body %}

<h1>Place</h1>

<div class="row">
  <div class="four columns">
    <form action="" method="post">

      {% csrf_token %}
      
      {# Include the hidden fields #}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
      {# Include the visible fields #}
      {% for field in form.visible_fields %}
      
      {% if forloop.counter == 5 %}

  </div>
  <div class="six columns">
    
    {% endif %}
    
    <div class="fieldWrapper">
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}
    </div>
    {% endfor %}
    
    
    <input name="costam" type="submit" value="save" />
  </form>
  </div>
</div>

<hr/>

{% if object %}
<p>To delete this place press <a href="{% url 'travels:place-delete' object.pk %}">here</a>.</p>
<p>To duplicate press <a href="{% url 'travels:place-duplicate' object.pk %}">here</a>.</p>
{% endif %}

{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>

{{ form.media }}

<link rel="stylesheet" href="{% static 'css/normalize.css' %}" type="text/css" /> 
<link rel="stylesheet" href="{% static 'css/skeleton.css' %}" type="text/css" /> 
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" /> 

{% endblock %}
