{% extends 'base.html' %}

{% block body %}

<h1>Travel {{ travel.pk }}</h1>

<h2>
  {% for item in travel.country.all %}
  {{ item }} {% if forloop.revcounter0 != 0 %}&mdash;{% endif %}
  {% endfor %}
</h2>
{{ travel.start_date }} &mdash; {{ travel.end_date}}
<span class="grey">({{ travel.start_date|timesince:travel.end_date }})</span>
{% if user.is_authenticated %}
<a href="{% url 'travels:travel-update' travel.pk %}">Edit</a>
{% endif %}
<p><span class="grey">{{ travel.notes|default_if_none:'' }}</span></p>


<h4 id="plc">Places</h4>

{% if user.is_authenticated %}
<a class="button button-primary" href="{% url 'travels:place-create' travel.pk %}">add place</a>
{% endif %}

{% if places %}

<table id="place">
  
  {% for place in places %}

  <tr>
    <td>
      {% if user.is_authenticated %}
      <a href="{% url 'travels:place-update' place.pk %}">{{ forloop.counter }}</a>
      {% else %}
      {{ forloop.counter }}
      {% endif %}
    </td>
    <td>{{ place.start_date }}</td>
    <td>&mdash;</td>
    <td>{{ place.end_date }}</td>
    <td><span class="grey">{{ place.start_date|timesince:place.end_date }}</span></td>
    <td><strong>{{ place.country.country_name }}</strong></td>
    <td>{{ place.city }}</td>
    <td>{{ place.place|default_if_none:'' }}</br>
      <span class="grey">{{ place.notes|default_if_none:'' }}</span>
    </td>
  </tr>
  
  {% endfor %}

</table>

{% endif %} {# places #}

<h4 id="jrn">Journeys</h4>

{% if user.is_authenticated %}
<a class="button button-primary" href="{% url 'travels:journey-create' travel.pk %}">add journey</a>
{% endif %}

{% if journeys %}

<table id="journey">
  
{% for journey in journeys %}

<tr>
  <td>
    {% if user.is_authenticated %}
    <a href="{% url 'travels:journey-update' journey.pk %}">{{ forloop.counter }}</a>
    {% else %}
    {{ forloop.counter }}
    {% endif %}
  </td>
  <td>{{ journey.start_date}} <span class="grey">{{ journey.start_time|default_if_none:'' }}</span></td>
  <td>{{ journey.end_date|default_if_none:'' }}</td>
  <td>{{ journey.transport_type.name }}</td>
  <td>{{ journey.orig }}</td>
  <td>&rarr;</td>
  <td>{{ journey.dest }}</td>
  <td><span class="grey">{{ journey.notes|default_if_none:'' }}</span></td>
</tr>

{% endfor %}

</table>

{% endif %} {# journeys #}

{% if user.is_authenticated %}
<a class="button button-primary" href="{% url 'travels:flight-create' travel.pk %}">add flight</a>
{% endif %}

{% if flights %}

<h4>Flights</h4>

<table id="flight">
  
  {% for flight in flights %}

  <tr>
    <td><a href="{% url 'travels:flight-detail' flight.pk %}">{{ forloop.counter }}</a></td>
    <td>{{ flight.date }} <span class="grey">{{ flight.time|default_if_none:'' }}</span></td>
    <td>{{ flight.orig.city }} ({{ flight.orig.iata }})</td>
    <td>&rarr;</td>
    <td>{{ flight.dest.city }} ({{ flight.dest.iata }})</td>
    <td>{{ flight.distance }} km</td>
    <td>
      {% if flight.purchased %} {{ flight.currency }} {{ flight.price|floatformat:0 }}
      <span class="grey">({{ flight.purchase_delta }} days before)</span>{% endif %}
    </td>
    <td><span class="grey">{{ flight.note|default_if_none:'' }}</span></td>
  </tr>

  {% endfor %}

</table>

{% endif %} {# flights #}

{% endblock %}
