{% extends 'base.html' %}

{% block extrahead %}
{{ block.super }}
<style>
  .key_photo {
  float:right;
  width: 450px;
  box-shadow: 7px 9px 9px 0px #8888883d;
  }
  </style>
{% endblock %}

{% block body %}

<h1>Travel {{ travel.pk }}</h1>

<div class="row">
  <div class="six columns">
    <h2>
      {% for item in travel.country.all %}
      {{ item }} {% if forloop.revcounter0 != 0 %}&mdash;{% endif %}
      {% endfor %}
    </h2>
    {{ travel.start_date }} &mdash; {{ travel.end_date}}
    <span class="grey">({{ travel.start_date|timesince:travel.end_date }})</span>
    {% if user.is_authenticated %}
    <a href="{% url 'travels:travel-update' travel.pk %}">EDIT</a>
    {% endif %}
    <p style="margin-top:20px;"><span class="grey">{{ travel.notes|default_if_none:'' }}</span></p>
  </div>
  <div class="six columns">
    {% if travel.key_photo %}
    <img class="key_photo"  alt="" src="{{ travel.key_photo.url }}"/>
    {% endif %}
  </div>
</div>
<!-- PLACES -->

<h4 id="plc">Places</h4>

{% if user.is_authenticated %}
<div><a class="button button-primary" href="{% url 'travels:place-create' travel.pk %}">add place</a></div>
{% endif %}

{% if places %}

<table id="place">
  
  {% for place in places %}

  <tr>
    <td>
      {% if user.is_authenticated %}
      <a href="{% url 'travels:place-update' place.pk %}">{{ forloop.counter }}</a>
      {% else %}
      {{ forloop.counter }}
      {% endif %}
    </td>
    <td>{{ place.start_date }}</td>
    <td>&mdash;</td>
    <td>{{ place.end_date }}</td>
    <td><span class="grey">{{ place.start_date|timesince:place.end_date }}</span></td>
    <td><strong>{{ place.country.country_name }}</strong></td>
    <td>{{ place.city }}</br>
        <span class="grey">{{ place.neigh|default_if_none:'' }}</span></td>
    <td>{{ place.place|default_if_none:'' }}</br>
      <span class="grey">{% if place.price %}{{ place.price }} | 
        {% endif %}{{ place.notes|default_if_none:'' }}</span>
    </td>
  </tr>
  
  {% endfor %}

</table>

{% endif %} {# places #}

<!-- JOURNEYS -->

<h4 id="jrn">Journeys</h4>

{% if user.is_authenticated %}
<div><a class="button button-primary" href="{% url 'travels:journey-create' travel.pk %}">add journey</a></div>
{% endif %}

{% if journeys %}

<table id="journey">
  
{% for journey in journeys %}

<tr>
  <td>
    {% if user.is_authenticated %}
    <a href="{% url 'travels:journey-update' journey.pk %}">{{ forloop.counter }}</a>
    {% else %}
    {{ forloop.counter }}
    {% endif %}
  </td>
  <td>{{ journey.start_date}} <strong>{{ journey.start_time|default_if_none:'' }}</strong>
    {% if journey.end_date %}
    </br><span class="grey">&rarr; {{ journey.end_date }}<span>
    {% endif %}
  </td>
  <td>{{ journey.transport_type.name }}</td>
  <td>{{ journey.orig }}</td>
  <td>&rarr;</td>
  <td>{{ journey.dest }}</td>
  <td><span class="grey">{{ journey.notes|default_if_none:'' }}</span></td>
</tr>

{% endfor %}

</table>

{% endif %} {# journeys #}

<!-- FLIGHTS -->

<h4 id="fl">Flights</h4>

{% if user.is_authenticated and travel.pk %}
<div><a class="button button-primary" href="{% url 'travels:flight-create' travel.pk %}">add flight</a></div>
{% endif %}

{% if flights %}

<table id="flight">
  
  {% for flight in flights %}

  <tr>
    <td><a href="{% url 'travels:flight-detail' flight.pk %}">{{ forloop.counter }}</a></td>
    <td>{{ flight.date }}</br><span class="grey">{{ flight.time|default_if_none:'' }}</span></td>
    <td title="{{ flight.orig.name }}">
      <strong>{{ flight.orig.iata }}</strong><br/>{{ flight.orig.city }}</td>
    <td title="{{ flight.dest.name }}">
      <strong>{{ flight.dest.iata }}</strong><br/>{{ flight.dest.city }}</td>
    <td title="{{ flight.note }}"><strong>{{ flight.flight_number }}</strong><br/>{{ flight.airline.name }}</td>
    <td>{{ flight.distance }} km</td>
    <td>{{ flight.duration|time:"H:i" }}</td>
    <td>{% if flight.boarding_pass %} <span class="grey" title="boarding pass">&bull;</span> {% endif %}</td>
    <td>
      {{ flight.currency|default_if_none:'' }} {{ flight.price|floatformat:0|default_if_none:'' }}
      {% if flight.purchased %}<span class="grey">({{ flight.purchase_delta }} days before)</span>{% endif %}
      <span class="grey">{{ flight.note|default_if_none:'' }}</span>
    </td>
  </tr>

  {% endfor %}

</table>

{% endif %} {# flights #}

{% endblock %}
