{% extends 'base.html' %}

{% block body %}

<h1>Travels</h1>

<a class="button button-primary" href="{% url 'travels:travel-create' %}">add travel</a>

{% if object_list %}

<table>
  
{% for item in object_list %}

{% ifchanged %}
<tr>
  <td colspan="4"><h4>{{ item.start_date|date:"Y" }}</h4></td>
</tr>
{% endifchanged %}

<tr>
  <td><a href="{% url 'travels:travel-detail' item.pk %}">{{ forloop.counter }}</a></td>
  <td>{{ item.start_date }} - {{ item.end_date }}</td>
  <td>
    {% for country in item.country.all %}
    {{ country }} {% if forloop.revcounter0 != 0 %}&mdash;{% endif %}
    {% endfor %}
  </td>
  <td>{{ item.notes|default_if_none:'' }}</td>
</tr>

{% endfor %}

</table>

{% include "travels/paginator.html" %}

{% endif %} {# object_list #}

{% endblock %}
