{% extends 'base.html' %}

{% block body %}

<style>
  td:nth-child(3) {
  text-align: right;
  }
</style>

<h1>Travels</h1>

{% if user.is_authenticated %}
<a class="button button-primary" href="{% url 'travels:travel-create' %}">add travel</a>
{% endif %}

{% if object_list %}

<table>
  
{% for item in object_list %}

{% ifchanged %}
<tr>
  <td colspan="6"><h4>{{ item.start_date|date:"Y" }}</h4></td>
</tr>
{% endifchanged %}

<tr>
  <td><a href="{% url 'travels:travel-detail' item.pk %}">{{ forloop.counter }}</a></td>
  <td>{{ item.start_date }} - {{ item.end_date }}</td>
  <td><span class="grey" title="days">{{ item.time_delta }}</span></td>
  <td>
    {% for country in item.country.all %}
    {{ country }} {% if forloop.revcounter0 != 0 %}&mdash;{% endif %}
    {% endfor %}
  </td>
  <td>{{ item.notes|default_if_none:'' }}</td>
  <td>{% if item.key_photo %}*{% endif %}</td>
</tr>

{% endfor %}

</table>

{% include "travels/paginator.html" %}

{% endif %} {# object_list #}

{% endblock %}
