{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
{% endblock %}

{% block body %}

<h1>Travel</h1>

<form action="" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input name="" type="submit" value="save"/>
</form>

{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ form.media }}

<link rel="stylesheet" href="{% static 'css/normalize.css' %}" type="text/css" /> 
<link rel="stylesheet" href="{% static 'css/skeleton.css' %}" type="text/css" /> 
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" /> 

{% endblock %}
